/*
*
* Helper Classes
*
*/
.alignright { text-align: right; float: right; margin-left: 1em; }
.alignleft { text-align: left; float: left; margin-right: 1em; }

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }

@media only screen and ( max-width: 768px ){
	.desktop-only {
		display: none;
	}
}
@media only screen and ( min-width: 768px ){
	.mobile-only {
		display: none;
	}
}